li {
    display: inline-flex;
    offset-distance: 0;
}

#wrapper {
    background-color: #fff;
    margin: 0;
    padding-left: 0;
}

div#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../static/loader.gif") 50% 50% no-repeat;
    z-index: 9999;
}
li a {
    margin: 0 auto;
    font-size: xx-large;
    padding: 8px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #000;
    font-family: 'Nunito Sans';
}

li a:hover {
    background-color: #eee;
}
li a.on {
    background-color: #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    top: 0;
    display: flex;
    position: sticky;
    padding-left: 24px;
    background-color: #fff;
}
#body {
    background-image: url('/static/birb.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0;
}
p span {
    display: block;
    margin-right: 16px;

}
#paragraph {
    font-size: 36px;
    margin-left: 32px;
    font-weight: lighter;
    font-family: 'Nunito Sans';
    color: white;
    display: flex;
    border-radius: 8px;
}

